* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.searchField {
  width: 80%;
}

.searchField input {
  border: 2px solid black;
  border-radius: 10px;
  margin: 0 10px 20px 400px;
  padding: 5px;
  width: 40%;
}

.btn-pesquisa {
  background: dodgerblue;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  margin: 0 100px 0 0;
  padding: 7px;
}

section {
  display: flex;
  text-align: left;
}

.listaCategorias {
  align-self: start;
  border: 1px solid black;
  list-style-type: none;
  margin: 1px;
  padding: 20px;
  width: 30%;
}

.listaCategorias label {
  display: block;
  margin: 20px 0;
}

.listaCategorias label input {
  margin: 0 20px;
}

section h1 {
  font-size: 18px;
  margin: 100px 0;
  text-align: center;
  width: 100%;
}

.listaProdutos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 20px;
  padding: 1px;
  width: 70%;
}

.listaProdutos div {
  align-content: space-between;
  border: 1px solid black;
  border-radius: 0 0 11px 11px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  text-align: center;
  width: 20%;
}

.Carrinho a {
  text-decoration: none;
}

.contagemCarrinho {
  background: dodgerblue;
  border-radius: 30%;
  bottom: 25px;
  color: white;
  padding: 5px;
  position: relative;
  right: 60px;
}

.listaProdutos div a {
  color: black;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.listaProdutos div .btnAdicionaCarrinho {
  align-self: center;
  background: dodgerblue;
  border: none;
  border-radius: 0 0 10px 10px;
  color: white;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 5px;
  width: 100%;
}

.listaProdutos li img {
  width: 100%;
}

.listaProdutos li p {
  font-weight: 500;
  margin: 20px 0;
  padding: 5px;
}

.Carrinho {
  display: inline-block;
  font-size: 38px;
  margin: 30px 20px;
}
