* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hDetails {
  display: inline-block;
  padding: 10px;
  text-align: left;
  width: 80%;
}

.imgDetails {
  border: 2px solid gray;
  height: 10%;
  margin: 0 5px;
  width: 40%;
}

.especificacoes {
  border: 2px solid gray;
  margin: 0 5px;
  padding: 20px;
  width: 100%;
}

.especificacoes li {
  list-style-type: none;
}

.btnAdicionaCarrinho-pageDetails {
  background: dodgerblue;
  border: none;
  color: white;
  font-weight: 600;
  margin: 10px;
  padding: 10px;
}
